<div class="user-form">
  <h2 class="form-header">Create Account</h2>
  <form class="new-form" action="<%= users_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <div class="input-field">
      <label>Username:
        <input type="text" name="user[username]" value="" autofocus>
      </label>
    </div>

    <div class="input-field">
      <label>Password:
        <input type="password" name="user[password]" value="">
      </label>
    </div>

    <button class="form-button">Create Account!</button>

  </form>

  <!-- These will render new React components on click -->
  <div class="sign-in-msg">
    <p>Already have an account?<p>
    <a href="">Sign in</a>
  </div>
</div>
